/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }


  
body {
  background-image: url(imagenes/fondo.jpg);
  margin: 30px;
  color: white;
  font-size: large;
  
}

h1 {
  font-family: 'Creepster', cursive;
  color: white;
  font-size: 80px;
  text-shadow: 5px 5px rgb(120, 120, 120);
  text-align: center;
}

h2 {
  font-family: 'Julee', cursive;
  font-size: x-large;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
  content: "";
  display: table;
  clear: both;
  }

.columna {
  float: left;
  padding: 20px;
  min-height: 500px;
  background-color: rgba(77, 77, 77, 0.4);
  margin-bottom: 50px;
}
  
.izquierda {
  width: 50%;
}
    
.derecha {
  width: 50%;
}

    
/* esto lo utilizamos para que se adapte a la pantalla de movil:*/
@media screen and (max-width: 600px) {
  .columna {
    width: 100%;
  }

  .iresponsive {
      width: 100%;

  }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */