/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }


  
body {
  background-image: url(imagenes/fondo.jpg);
  
}

h1 {
  font-family: 'Creepster', cursive;
  color: white;
  font-size: 80px;
  text-shadow: 5px 5px rgb(120, 120, 120);
}





